<!DOCTYPE html>
<html>
  <head>
    <title>CSU-GPT with Azure OpenAI💡 </title>
    <link href="{{url_for('static',filename='dist/css/output.css')}}" rel="stylesheet">
      <link rel="favicon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
      <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon//site.webmanifest') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>


  <body onload="generateOptions()">
    
    <header class="bg-white p-2 flex justify-between items-center">
      <h1 class="text-lg font-medium">CSU-GPT with Azure OpenAI💡</h1>
    </header>

  
 <!-- Alert Info  -->
 <div class="border flex justify-between 
  w-auto px-4 py-3 rounded relative 
  hidden" style="background-color: rgb(197, 51, 51);color: white;" id="error-alert" role="alert">
  <span class="block sm:inline" id="text-error"></span>
  <strong class="text-xl align-center alert-del" style="cursor: pointer;" id="close">&times;</strong>
</div>


    <div class="lg:flex ml-2 mr-2">
      <div class="lg:w-3/4 min-h-screen max-h-screen">
        <div class="w-full flex flex-col h-5/6">
          <div id="messages-container" style="overflow: auto;" class="sm:max-lg:mb-[12rem]">

            <div id="messages" class="w-full flex flex-col mt-2" >
              <div class="bg-indigo-500 text-white p-2 rounded-lg mb-2 self-start">
                <p class="text-sm">Hello, I'm an agent to help with VBD and DE related questions'. </p>
              </div>

          </div>
        </div>

        <div class="fixed bottom-0 w-full mt-4 mb-2 lg:w-3/4">
        <form id="message-form" autocomplete="off" class="flex items-stretch">
          <input autocomplete="off" id="message-input" class="bg-white p-2 rounded-lg ml-2 text-sm w-full" type="text" placeholder="Type your message here...">
          <button id="button-submit" class="bg-blue-500 text-white p-2 rounded-lg ml-2 mr-2 text-sm sm:max-lg:p-5" type="submit">Send</button>
          <input type="reset" value="Clear History" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-gray-700 mr-2" onclick="resetHistory()">
          
        </form>
        </div>

        


    </div>
        </div>
        <div class="lg:w-1/4 p-2 sm:max-lg:hidden">
          <p class="text-sm">This is a sample chatbot that uses the Azure OpenAI to answer questions for provided document</p>
          <br>


        </div>
    </div>

  <div class="flex items-center justify-center h-full">
    
 
</div>
  <script>
    function resetHistory()
    {
      let chatHistory = ['']
      localStorage.setItem('chatHistory', JSON.stringify(chatHistory));
      document.getElementById("messages").innerHTML = '' ;
    }
  </script>
  <script src="{{url_for('static',filename='src/chat.js')}}"></script>

  </body>
</html>
